.todoItem {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 10px rgb(220, 224, 226);
  width: 50%;
  padding: 5px;
  margin: 10px;
}

.complete {
  text-align: right;
  padding: 0;
}

.complete :hover {
  cursor: pointer;
}

.task {
  text-align: center;
}

/* rgb(133, 162, 179) */
